<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Library</title>
    </head>
    <body>
        <h1>{{ author.getAuthorName }}</h1>

        {% if books is not empty %}
            <p>test:</p>
            <ul>
                {% for book in books %}
                    <li>{{ book.getBookTitle }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a book:</h4>

        <form action='/add_books' method='post'>
            <input id="author_id" name="author_id" type="hidden" value="{{ author.getId }}"></input>
            <label for="book_id"></label>
            <select id='book_id' name='book_id' type='text'>
              {% for book in all_books %}
                <option value="{{ book.getId }}"> {{ book.getBookTitle }}</option>
              {% endfor %}
        </select>
        <button type='submit'>Add book</button>
    </form>

    <p><a href='/'>Home</a></p>
    </body>
</html>
