<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
    </head>
    <body>
        <h1>{{ book.getBookTitle }}</h1>

            {% if authors is not empty %}
                <p>authors:</p>
                <ul>
                    {% for author in authors %}
                    <li>{{ author.getAuthorName }} </li>
                    {% endfor %}
                </ul>
            {% endif %}

    <h4>Add a authors</h4>

    <form action='/add_authors' method='post'>
        <input id="book_id" name="book_id" type="hidden" value="{{ book.getId }}"></input>
        <label for='author_id'>Select an author:</label>
        <select id='author_id' name='author_id' type='text'>
            {% for author in all_authors %}
              <option value="{{ author.getId }}"> {{ author.getAuthorName }} </option>
            {% endfor %}
        </select>
        <button type="submit">Add author</button>
    </form>
    <p><a href="/books/{{ book.getId }}/edit">Edit this book</a></p>
    <p><a href='/'>Home</a></p>
    </body>
</html>
